<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to DTU</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body style="background-color: blanchedalmond">
    <h1 class = "collg-name-heading">{{ title }}</h1>
    <h1 style="text-align: center;color: blue">{{ action }}</h1>

    <form class="reg-form" method="post" action="/logs/submit">
        <h3 class="fields">roll number:</h3><input name="rollno" type="text">
        <button type="submit">submit</button>
    </form>
</body>
</html>